<?xml version="1.0"?>
<!--
/**
 * @package     Igorludgero_Metarlogistica
 * @author      Igor Ludgero Miura
 * @copyright   Igor Ludgero Miura - https://www.igorludgero.com/ - igor@igorludgero.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Igorludgero_Metarlogistica>
            <version>1.0.0</version>
        </Igorludgero_Metarlogistica>
    </modules>
    <global>
        <resources>
            <igorludgero_metarlogistica_setup>
                <setup>
                    <module>Igorludgero_Metarlogistica</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </igorludgero_metarlogistica_setup>
            <igorludgero_metarlogistica_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </igorludgero_metarlogistica_write>
            <igorludgero_metarlogistica_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </igorludgero_metarlogistica_read>
        </resources>
        <models>
            <metarlogistica>
                <class>Igorludgero_Metarlogistica_Model</class>
                <resourceModel>metarlogistica_mysql4</resourceModel>
            </metarlogistica>
            <metarlogistica_mysql4>
                <class>Igorludgero_Metarlogistica_Model_Mysql4</class>
                <entities>
                    <cotacao>
                        <table>metarlogistica_cotacoes</table>
                    </cotacao>
                    <cotacaoprice>
                        <table>metarlogistica_cotacoes_precos</table>
                    </cotacaoprice>
                </entities>
            </metarlogistica_mysql4>
        </models>
        <helpers>
            <metarlogistica>
                <class>Igorludgero_Metarlogistica_Helper</class>
            </metarlogistica>
        </helpers>
        <blocks>
            <metarlogistica>
                <class>Igorludgero_Metarlogistica_Block</class>
            </metarlogistica>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Igorludgero_Metarlogistica>
                    <files>
                        <default>Igorludgero_Metarlogistica.csv</default>
                    </files>
                </Igorludgero_Metarlogistica>
            </modules>
        </translate>
        <menu>
            <metarlogistica translate="title">
                <title>Metar Logística</title>
                <sort_order>800</sort_order>
                <children>
                    <quoteprices translate="title" module="metarlogistica">
                        <sort_order>0</sort_order>
                        <title>Quote Prices</title>
                        <action>adminhtml/quoteprices/</action>
                    </quoteprices>
                    <settings>
                        <sort_order>1</sort_order>
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/carriers/</action>
                    </settings>
                </children>
            </metarlogistica>
        </menu>
    </adminhtml>
    <admin>
        <translate>
            <modules>
                <metarlogistica>
                    <files>
                        <default>Igorludgero_Metarlogistica.csv</default>
                    </files>
                </metarlogistica>
            </modules>
        </translate>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Igorludgero_Metarlogistica before="Mage_Adminhtml">Igorludgero_Metarlogistica_Adminhtml</Igorludgero_Metarlogistica>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <metarlogistica>
                    <files>
                        <default>Igorludgero_Metarlogistica.csv</default>
                    </files>
                </metarlogistica>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <metarlogistica>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>metarlogistica/carrier</model>
                <title>Metar Logistica Transportadora</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </metarlogistica>
        </carriers>
    </default>
</config>